<nav class="navbar navbar-expand-lg navbar-light fixed-top pl-0 pr-0" id="mainNav">
  <div class="top-container text-center">
    <div id="nav-logo" *ngIf="logo" [routerLink]="'/' + AppRoutes.DOMAIN_SELECT">
      <img src="assets/logos/{{logo}}.svg" [alt]="logo" class="navbar--logo">
    </div>
    <ng-content></ng-content>
    <bui-import></bui-import>
  </div>
  <div class="bottom-container">
    <button class="btn nav-logo" [ngbTooltip]="'Sign out'" (click)="signOut()">
      <i class="fas fa-sign-out-alt fa-flip-horizontal text-muted"></i>
    </button>
  </div>
</nav>
