<button type="button"
        class="btn btn-sm btn-nav"
        ngbTooltip="{{ 'IMPORT.BUTTON_NAME' | translate }}"
        (click)="openModal(importModal)">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28">
        <use xlink:href="assets/icons/import.svg#import-icon"></use>
    </svg>
</button>


<!-- Modal window -->
<ng-template #importModal id="import-modal" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">{{'IMPORT.IMPORT_MODAL_TITLE' | translate}}</h5>
        <button type="button" class="close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="save-form">
            <div class="drop-container" [ngClass]="{'dragged-over': dragOver}" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)">
                <p>
                    {{'IMPORT.INSTRUCTION_PART1' | translate}}
                    <label class="upload-button">
                        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)">{{'IMPORT.INSTRUCTION_PART2' | translate}}
                    </label>
                    {{'IMPORT.INSTRUCTION_PART3' | translate}}
                </p>
            </div>

            <div class="error-label" *ngIf="fileTypeError">{{'IMPORT.FILE_TYPE_NOT_SUPPORTED' | translate}}</div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="c()">{{'CLOSE' | translate}}</button>
    </div>
</ng-template>
